In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

mktg  = pd.read_csv('marketing_18.csv') #importing the file
neo  = pd.read_csv('neo.csv') #importing the file

In [18]:
# #data exploration
# mktg.head(5) #getting the first few rows
# mktg.describe() #for getting the mean etc 
# mktg.shape #no of rows and columns
# marketing.isnull().sum() #finding if there are null values
# marketing.columns #to find the column headers
mktg.dtypes

Date              object
Campaign Name     object
Channel Name      object
Impressions        int64
Clicks             int64
Revenue          float64
Cost             float64
Installs           int64
Conversions        int64
dtype: object

In [19]:
# data cleaning
mktg.columns = mktg.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '') #cleaning the column names
mktg.columns

Index(['date', 'campaign_name', 'channel_name', 'impressions', 'clicks',
       'revenue', 'cost', 'installs', 'conversions'],
      dtype='object')

In [20]:
# adding additional value columns 

mktg['date'] = pd.to_datetime(mktg['date']) # convert the date column to datetime
mktg['month_year'] = mktg['date'].dt.strftime('%Y-%m')
mktg.head(10)

,date,campaign_name,channel_name,impressions,clicks,revenue,cost,installs,conversions,month_year
0,2023-03-19,Twitter_engagement_conv_20200622,Twitter,1133,12,246.56,243.10,1,0,2023-03
1,2023-03-01,Twitter_conversion_conv_20230117,Twitter,4767,134,1636.52,535.60,13,4,2023-03
2,2023-06-10,TikTok_engagement_conv_20210429,TikTok,3284,61,705.79,333.93,8,3,2023-06
3,2023-01-17,Google Ads_install_conv_20210206,Google Ads,1928,42,410.31,185.30,3,1,2023-01
4,2023-03-28,TikTok_install_conv_20220704,TikTok,1897,54,419.48,199.09,7,2,2023-03
5,2023-06-20,TikTok_conversion_conv_20230117,TikTok,2745,35,269.45,127.48,4,1,2023-06
6,2023-02-11,Facebook_install_conv_20211210,Facebook,3904,43,833.60,409.84,5,1,2023-02
7,2023-10-09,LinkedIn_engagement_conv_20230808,LinkedIn,3700,100,968.22,322.09,8,3,2023-10
8,2023-05-23,LinkedIn_engagement_conv_20200324,LinkedIn,1903,39,434.40,158.91,4,0,2023-05
9,2023-09-25,Twitter_install_conv_20200226,Twitter,4248,54,682.04,432.60,5,1,2023-09

In [23]:
total_revenue = mktg.groupby('month_year').agg({'revenue':['sum']})
print(total_revenue)

               revenue
                   sum
month_year
2023-01     7916628.10
2023-02     7106321.74
2023-03     7878858.01
2023-04     7730466.53
2023-05     7988235.87
2023-06     7510877.79
2023-07     7727730.10
2023-08     7778321.33
2023-09     7506388.87
2023-10     7979448.18
2023-11     7578918.65
2023-12     7938893.28

In [25]:
neo.head(5) #getting the first few rows

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KPI Reporting,Unit,Jan.-23,Feb.-23,März-23,Apr.-23,Mai-23,Juni-23,Juli-23,Aug.-23,...,Aug.-23,Sept.-23,Okt.-23,Nov.-23,Dez.-23,Jan.-24,Feb.-24,März-24,Apr.-24,Mai-24
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total Number of Users,#,125.266,144.790,169.093,194.102,222.568,255.455,287.823,321.239,...,285.903,318.038,362.141,428.347,490.571,544.730,600.211,670.725,735.540,794.344